<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="DbConnectionString" connectionString="Data Source=YANA; Initial Catalog = H_MyBase; Integrated Security = True"
            providerName="System.Data.SqlClient" />
        <add name="CS_8.Properties.Settings.H_MyBaseConnectionString"
            connectionString="Data Source=YANA;Initial Catalog=H_MyBase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>